
<div class="row">
	<div class="col-md-7">
		<table id="book_table" class="table table-hover" width="100%">
			<tr>
				<th width="10%">ID</th>
				<th width="30%">NAME</th>
				<th width="60%">REMARKS</th>
			</tr>
			<foreach name="books" item="book">
				<tr id="{$book.id}">
					<td style="word-break:break-all;word-wrap:break-word;">{$book.id}</td>
					<td style="word-break:break-all;word-wrap:break-word;">{$book.b_name}</td>
					<td style="word-break:break-all;word-wrap:break-word;">{$book.b_remarks}</td>
				</tr>
			</foreach>
		</table>
	</div>
	<div class="col-md-5">
		<form class="form-inline" id="book_insert" role="form">
			<input class="form-control" id="book_name" type="text" />
			<button class="btn btn-default" type="submit">提交</button>
		</form>
	</div>
</div>

<script>
$(function(){
	var isEdit=false;
	
	$('#book_insert').submit(function(){
		$.post('__MODULE__/Book/insert',{
			"book_name":$('#book_name').val()
		},function(data, status){
			if(data=='failed'){
				alert('添加失败');
			}
		},'json');
		
		return false;
	});
	
	$('#book_table tr:not(#book_table tr:first)').click(function(){
		if(!isEdit){
			isEdit=true;
			var book_id=$(this).attr('id');
			var $book_td=$(this).find('td:eq(2)');
			$book_td.html('<textarea id="re_'+book_id+'" style="width:100%;overflow-y:visible;">'+$(this).find('td:eq(2)').html()+'</textarea>');
			$('#re_'+book_id).focus().blur(function(){
				var remarks=$(this).val()
				$.post('__MODULE__/Book/UpdateRemarks',{
					"book_id":book_id,
					"book_remarks":remarks
				},function(data, status){
					if(data=='success'){
						$book_td.html(remarks);
					}else{
						alert('update failed');
					}
				}, 'json');
				isEdit=false;
			});
			
		}
	});
});
</script>