<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css">
</head>
<body>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<div class="container">
	<div class="row">
		<div class="col-md-1" style="background-color:#ccc;">
			<div class="btn-group-vertical btn-group-lg" role="tablist" aria-label="..." style="">
				<a class="btn btn-default" href="#home" aria-controls="home" role="tab" data-toggle="tab">index</a>
			    <a href="#profile" class="btn btn-default" aria-controls="profile" role="tab" data-toggle="tab">book</a>
			    <a href="#messages" class="btn btn-default" aria-controls="messages" role="tab" data-toggle="tab">3</a>
			    <a href="#settings" class="btn btn-default" aria-controls="settings" role="tab" data-toggle="tab">4</a>
			</div>
		</div>
		<div class="col-md-11">
			<div class="tab-content">
			    <div role="tabpanel" class="tab-pane fade in active" id="home">
					<include file="search" />
				</div>
			    <div role="tabpanel" class="tab-pane fade" id="profile">
					<include file="book" />
				</div>
			    <div role="tabpanel" class="tab-pane fade" id="messages">
					<include file="birthday" />
				</div>
			    <div role="tabpanel" class="tab-pane fade" id="settings">..44.</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>